.logo_hub {
    width: 96px; /* set a specific width */
    height: 96px; /* set a specific height */
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 128px;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logout_container {
    position: absolute;
    top: 0;
    right: 5%;
    padding: 10px;
  }
  
.logout_button {
    background-color: #6ca053; /* Green */
    border: none;
    color: black;
    padding: 7px 7px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.8s ease, color 0.8s ease, border 0.8s ease;
}

.logout_button:hover {
    background-color: #abcd99; 
    color: black;    
}


.username_display {
    position: absolute;
    top: 1%;
    right: 20%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.username {
    text-decoration: underline;
    color: black;
    font-weight: 800;
  }

.hub_container {
   
    margin-top: 13%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.home_menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 100px;
    color : #729560;
}

.home_button {
    background-color: #729560; /* Green */
    border: none;
    color: black;
    padding: 60px 60px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.8s ease, color 0.8s ease, border 0.8s ease;
}

.home_button:hover {
    background-color: #abcd99; 
    color: black; 
    ;
}

.home_button img {
    width: 60px;
    height: 50px;
    object-fit: contain;
    margin-top: 15px;
}