.logo_login {
  width: 96px; /* set a specific width */
  height: 96px; /* set a specific height */
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 128px;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container_login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
  width: 80%; /* changed from 600px to 80% */
  max-width: 600px;
  flex-direction: column;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 200px;
  background: #ffffff;
  padding-bottom: 30px;
}

.header_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-top: -97px;
}

.text_login {
  font-size: 28px;
  font-weight: 600;
  color: #729560;
}

.underline_login {
  width: 61px;
  height: 6px;
  background: #729560;
  border-radius: 9px;
}

.inputs_login {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-top: 60px;
}

.inputContainer_login {
  display: flex;
  flex-direction: column;
}

.input_login {
  display: flex;
  align-items: center;
  margin: auto;
  width: 80%; /* changed from 480px to 80% */
  max-width: 480px;
  height: 65px;
  border-radius: 6px;
  background: #d1d1d1;
}

.input_login img {
  width: 7%; /* changed from 27px to 10% */
  height: auto;
  margin: 0px 30px;
}

.input_login input {
  width: 80%;
  height: 50px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 19px;
  color: #797979;
}

.submit_container_login {
  display: flex;
  gap: 110px;
  margin-top: -30px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.submit_login {
  width: 50%; /* changed from 220px to 50% */
  max-width: 220px;
  margin-top: 60px;
  height: 59px;
  border-radius: 50px;
  background: #729560;
  color: white;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer_login {
  align-items: center;
  margin-top: 60px;
  color: #797979;
  font-size: 15px;
}

.click_here_login {
  color: #729560;
  cursor: pointer;
}

.footer_login span {
  color: #729560;
  cursor: pointer;
}
